<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>684194622760-octl48n8dd5rrtj21int2mdf8btpnspf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.684194622760-octl48n8dd5rrtj21int2mdf8btpnspf</string>
	<key>API_KEY</key>
	<string>AIzaSyCDDKzkD3W_hZHJmCB0sHwf-_tNyeA0zcs</string>
	<key>GCM_SENDER_ID</key>
	<string>684194622760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wmn4future.PerfectlyCreated</string>
	<key>PROJECT_ID</key>
	<string>perfectlycreated-ae430</string>
	<key>STORAGE_BUCKET</key>
	<string>perfectlycreated-ae430.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:684194622760:ios:23f3e75d8d1d562a02f41d</string>
	<key>DATABASE_URL</key>
	<string>https://perfectlycreated-ae430.firebaseio.com</string>
</dict>
</plist>